select#user.form-control option#disabled {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


#rm-btn {
    background-color: #fff;  
    margin: 0;
    padding: 0 12px;  
}

#rm-btn {
    background-color: #fff;  
    margin: 0;
    padding: 0 12px;  
}


.teamBtn:hover { 
    color:#000; 
    transition: ease-in-out 0.2s;
}